@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');


#find-feeshing-h1 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    color: rgba(0,0,0,0.8);
    /* text-decoration: underline; */
}

#find-appointment-container {
    border: 4px solid rgba(0,194,203, 0.5);
    display: flex;
    width: 90vw;
    height: 70vh;
    margin: 0 auto;
    background-color: white;
    color: rgba(0,0,0,0.8);
    /* padding: 10px; */
}
.find-appointment-inner-div {
    border-radius: 3px;
    border: 2px solid rgba(140,82,255, 0.75);
    /* background-color: rgba(211, 211, 211, 0.4); */
    box-sizing: border-box;
    display: flex;
    width: 100%;
}

.find-appointment-inner-div:hover {
    background-color: rgba(140,82,255, 0.2);
}

.find-appointment-inner-text {
    box-sizing: border-box;
    width: 70%;
    /* border: 2px solid green; */
    /* padding: 0px 10px; */
}

.find-appointment-inner-text p {
    margin: 8px;
    font-size: 1.2rem;
}

#find-appointment-image-div {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 30%;
    margin: 10px;
}

#find-appointment-image-div img{
    width: 100%;
    border-radius: 2px;
}

#find-appointment-left-div {
    /* border: 2px solid rgba(0,194,203, 0.5); */
    width: 60%;
    overflow-y: scroll;
    font-family: 'Poppins', sans-serif;
    /* background-color: white; */
    padding: 20px;
}

#find-appointment-left-inner {
    /* width: 90%; */
    margin: 0px auto 20px;
}

#find-appointment-left-inner a{
    text-decoration: none;
    color: inherit;
}
#find-appointment-right-div {
    box-sizing: border-box;
    padding: 20px;
    /* margin-left: 2vw; */
    width: 40%;
    overflow:hidden;
    position: relative;
    /* background-color: white; */
}

#no-appointments {
    text-align: center;
}