@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');


body{
    background-color: white;
    margin: 0;
    padding: 0;
    /* font-family: 'Itim', cursive; */
}

#appointment-type-container {
    border: 2px solid black;
    width: 60%;
    height: 50vh;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 10px;
    
}

.home-inner-type-div {
    /* border: 2px solid green; */
    /* border-left: 1px solid black; */
    /* border-right: 1px solid black; */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 16.66%;
    height: 50%;
    text-align: center;
    border-radius: 10px;
}

.home-inner-type-div img{
    width: 90%;
}

.home-inner-type-div:hover {
    cursor: pointer;
    background-color: rgba(173, 216, 230, 0.5);
}

#homepage-h1 {
    text-align: center;
}

#homepage-h3 {
    text-align: center;
}

#homepage-lower-div {
    /* border: 2px solid blue; */
    border-top: 1px solid black;
    width: 100%;
    height: 25vh;
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#homepage-lower-div p{
    /* border: 2px solid blue; */
    box-sizing: border-box;
    width: 90%;
    text-align: center;
    margin: 0 auto 20px;
}

#homepage-lower-div a{
    border: 2px solid pink;
    text-decoration: none;
    color: inherit;
    margin: 0 auto;
    padding: 8px 20px;
    background-color: grey;
}

#homepage-lower-div a:hover{
    background-color: lightgrey;
}