@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');

#login-container {
    font-family: 'Poppins', sans-serif;
}

#login-upper-div {
    /* border: 2px solid red; */
    /* display: flex; */
    width: 70%;
    margin: auto;
    text-align: center;
}

#login-upper-div h1 {
    font-family: 'Bubblegum Sans', cursive;
    font-size: 6rem;
    padding-top: 50px;
    margin: 0;
    color: rgb(0,194,203);
}

#login-logo {
    width: 20%;
}

.login-inner-div {
    /* border: 2px solid blue; */
    display: flex;
    justify-content: space-between;
}


#login-lower-div {
    box-sizing: border-box;
    /* border: 2px solid orange; */
    box-shadow: 0 0 3px 3px rgba(0,194,203, 0.5);
    border-radius: 5px;
    padding: 20px;
    width: 30%;
    margin: 20px auto;
    background-color: white;
}

#login-lower-div h2 {
    text-align: center;
    font-size: 1.8rem;
    margin-top: 0;
    margin-bottom: 10px;
    color: rgba(0,0,0,0.8)
}

#login-container form {
    box-sizing: border-box;
    /* border: 2px solid green; */
    width: 100%;
    margin: auto;
}

.login-input-div {
    box-sizing: border-box;
    margin: 20px 0;
    width: 100%;
}

.login-input-div label {
    font-size: 1.4rem;
    color: rgba(0,0,0,0.8)
}

.login-input-div input{
    /* margin-top: 10px; */
    width: 96%;
    line-height: 1.6rem;
    font-size: 1.2rem;
    padding: 5px;
    color: rgba(0,0,0,0.6);
}

.login-input-div input:focus{
    outline: none;
    border: 2px solid rgb(140,82,255);
    border-radius: 2px;
}

#login-lower-div button {
    border: none;
    border-radius: 40px;
    text-decoration: none;
    color: white;
    font-size: 1.6rem;
    margin: 10px auto 10px;
    padding: 8px 20px;
    background-color: rgba(0,194,203, 0.8);
}

#login-lower-div button:hover {
    background-color: rgba(0,194,203, 0.9);
    cursor: pointer;
}

#login-lower-div #login-submit {
    display: flex;
}
#demo-form-btn {
    display: flex;
    justify-content: center;
}