@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');


#my-appointment-outer-div {
    /* border: 2px solid red; */
    text-decoration: none;
    width: 80%;
    height: 80vh;
    margin: auto;
    font-family: 'Poppins', sans-serif;
    color: rgba(0,0,0,0.8);
}

#my-appointments-top-links {
    display: flex;
    justify-content: space-around;
    /* height: 100px; */
    /* border-bottom: 2px solid red; */
    text-align: center;
}

.my-appointments-top-link {
    box-sizing: border-box;
    width: 25%;
    background-color: white;
    border-left: 2px solid rgba(0,194,203, 0.5);
    border-right: 2px solid rgba(0,194,203, 0.5);
    border-top: 4px solid rgba(0,194,203, 0.5);
   z-index: 1;
}

.my-appointments-top-link:first-child {
 border-left: 4px solid rgba(0,194,203, 0.5);    
}

.my-appointments-top-link:last-child {
    border-right: 4px solid rgba(0,194,203, 0.5);  ;
}

.my-appointments-top-link:hover {
    cursor: pointer;
}

.my-appointments-top-link h2 {
    font-size: 1.1rem;
    width: 100%;
    margin: 10px 0;
    font-weight: normal;
}

#my-appointments-flex-container {

    box-sizing: border-box;
    border-left: 4px solid rgba(0,194,203, 0.5);
    border-right: 4px solid rgba(0,194,203, 0.5);
    border-bottom: 4px solid rgba(0,194,203, 0.5);
    padding-top: 50px;
    width: 100%;
    height: 70vh;
    margin: auto;
    display: flex;
    justify-content: space-around;
    background-color: white;
    flex-wrap: wrap;
    /* border-radius: 10px; */
    overflow-y: scroll;
}

#not-completed {
    box-sizing: border-box;
    width: 46%;
    overflow-y: scroll;
    /* border: 2px solid rgb(140,82,255); */
    /* background-color: rgba(0,194,203, 0.1); */
}

#my-appointments-flex-container h2 {
    text-align: center;
}

#completed {
    box-sizing: border-box;
    width: 46%;
    overflow-y: scroll;
}

#upcoming-feeshing {
    box-sizing: border-box;
    width: 46%;
    overflow-y: scroll;
    /* border: 2px solid blue; */
}

#completed-feeshing {
    box-sizing: border-box;
    width: 46%;
    overflow-y: scroll;
    /* border: 2px solid blue; */
}

.my-appointments-link {
    text-decoration: none;
    color: inherit;
}

.my-appointment-inner-div {
    box-sizing: border-box;
    width: 90%;
    border: 3px solid rgba(140,82,255, 0.5);
    /* box-shadow: 0 0 2px 2px rgba(0,194,203, 0.5); */
    /* background-color: rgba(0,194,203, 0.2); */
    padding: 5px;
    border-radius: 10px;
    background-color: white;
    overflow-y: hidden;
    margin: 14px auto;
}

.my-appointment-inner-div p {
    margin: 5px;
    font-size: 1.1rem;
}

.my-appointment-inner-div:hover {
   height: auto;
   background-color: rgba(140,82,255, 0.1);
}

#my-appointments-h1 {
    text-align: center;
}

.hidden {
    display: none;
}

.no-border {
    border-bottom: 4px solid rgba(0,194,203, 0.5);
}